@font-face {
  font-family: 'Acrom Regular';
  src: url('../fonts/Acrom-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom Medium';
  src: url('../fonts/Acrom-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom Bold';
  src: url('../fonts/Acrom-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom Extra Bold';
  src: url('../fonts/Acrom-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Medium';
  src: url('../fonts/FuturaMediumC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Demi';
  src: url('../fonts/FuturaDemiC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro Regular';
  src: url('../fonts/MinionPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
