%xsmall-xbold {
  font-family: $acrom-xbold;
  font-size: remc(12);
  line-height: remc(18);
}

%small-regular {
  font-family: $acrom;
  font-size: remc(14);
  line-height: remc(20);
}

%small-medium {
  font-family: $acrom-medium;
  font-size: remc(14);
  line-height: remc(20);
}

%small-bold {
  font-family: $acrom-bold;
  font-size: remc(14);
  line-height: remc(20);
}

%small-xbold {
  font-family: $acrom-xbold;
  font-size: remc(14);
  line-height: remc(20);
}

%medium-bold {
  font-family: $acrom-bold;
  font-size: remc(18);
  line-height: remc(24);
}

%medium-xbold {
  font-family: $acrom-xbold;
  font-size: remc(18);
  line-height: remc(24);
}

%large-xbold {
  font-family: $acrom-xbold;
  font-size: remc(30);
  line-height: remc(39);
}
%xlarge-xbold {
  font-family: $acrom-xbold;
  font-size: remc(120);
}
