$white: #ffffff;
$black: #000000;
$secondary_text: #3f4144;
$orange: #ff6b08;
$cyan: #17ecff;
$cyan_mark: #16ebfe;
$light-grey-banner: #afb0b3;
$banner_underscore: #e3e3e4;
$form_grey: #bfbfbf;
$price_bg: #052139;
$bg_text: #f7f7f7;
$bg_footer: #181c27;
$bg_footer2: #202020;
$font_footer2: #65666a;
$btn_footer: #1b4371;
$btn_click: #06a4b2;
$btn_footer_click: #15bbca;
$old_price: #3c3b40;
$address_color: #a2a2a2;


$acrom-xbold: 'Acrom ExtraBold';
$acrom-bold: 'Acrom Bold';
$acrom-medium: 'Acrom Medium';
$acrom-light: 'Acrom Light';
$acrom: 'Acrom Regular';
$futura-bold: 'Futura Demi';
$futura-medium: 'Futura Medium';
$minion: 'MinionPro Regular';
$gilroy: 'Gilroy Light';

