.after-course{
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet{
      flex-direction: row;
    }

    &__wrapper{
      display: flex;
     flex-wrap: wrap;
    }

    &__container {
        width: col(8);
      }

    &__title{
       font-family: $acrom-xbold;
       font-size: remc(18);
       width: remc(210);
       padding-bottom: remc(42);
       text-transform: uppercase;

       @include tablet{
        font-size: remc(27);
        width: remc(310);
        line-height: remc(33);
       }
    }

    &__list{
      list-style: none;
      width: remc(240);
      counter-reset: section;

      @include tablet{
        width: remc(115);
      }
    }

    &__item-title{
      position: relative;
      font-size: remc(13.5);
      font-family: $acrom-xbold;
      padding-bottom: remc(12);

      @include tablet{
        font-size: remc(9);
        line-height: remc(15);
      }

      &:before{
        content: counter(section);
        counter-increment: section 1;
  display: inline-block;
  position: absolute;
  left: remc(-40);
  top: remc(0);
  transform: translateY(-50%);
  padding: 12px;
  font-size: remc(16);
  width: 21px;
  height: 14px;
  text-align: center;
  color: #000;
  
      }
    }

    &__item-subtitle{
      font-family: $acrom;
      color: $secondary_text;
      padding-bottom: remc(29);

      @include tablet{
        font-size: remc(8);
        line-height: remc(10);
      }
    }

    &__addly{
      position: relative;
      color: $orange;
      font-size: remc(13.5);

      @include tablet{
        font-size: remc(9);
        line-height: remc(14);
      }

      &:before{
        position: absolute;
        display: block;
        content: '';
        width: remc(16);
        height: remc(2);
        top: remc(5);
        left: remc(-30);
        background-color: $black;
        transform: rotate(-45deg);
      }
    }

    &__button{
      font-size: remc(10.8);
      color: $white;
      width: remc(133);
      height: remc(28);
      background-color: $orange;
      border: none;
      padding: remc(17) remc(25) ;
      margin-top: remc(35);
      margin-bottom: remc(65);

      @include tablet{
        font-size: remc(7);
        line-height: remc(10);
      }
    }

   
}

@media (max-width: 767px) {
  .after-course__image {
    display: none;
  }
}