.button {
  border: none;
  background-color: $orange;
  box-shadow: 0px 5px 6px 0px $button_shadow;
  width: 219px;
  height: 55px;
  font-family: $acrom-xbold;
  font-weight: 700;
  font-size: remc(12);
  line-height: remc(18);
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  margin: 0 auto;
}
