.end-paragraph {
  font-family: $acrom-medium;
  font-size: remc(18);
  line-height: remc(24);
  color: $orange;
  padding-left: remc(30);
  position: relative;

  &:before {
    content: "/";
    display: block;
    color: $black;
    font-size: remc(50);
    position: absolute;
    top: remc(15);
    left: 0;
  }
}