.end-paragraph {
  font-family: $acrom-medium;
  font-size: remc(15);
  line-height: remc(19);
  width: col(10);
  color: $orange;
  padding-left: remc(22);
  position: relative;

  &:before {
    content: "/";
    display: block;
    color: $black;
    font-size: remc(36);
    position: absolute;
    top: remc(8);
    left: 0;
  }
}