.expert-section {
  padding-top: remc(20);
  padding-bottom: remc(20);
  @include flex('column');
  justify-content: center;
  align-items: center;
}

.expert-section__heading-container {
  width: col(8);
}

.expert-section__heading-container--temp p {
  margin: 0 auto remc(42);
}

.expert-setion__img {
  width: col(7.8);
  height: remc(256);
  overflow: hidden;
  margin-bottom: remc(34);
}

.expert-section--h-size {
  width: col(12);
  font-family: $acrom-xbold;
  font-size: remc(19);
  line-height: remc(23);
  text-align: center;

  &:before {
    content: "[";
  }
}

.expert-section--p-size {
  width: col(10.1);
  @extend %small-medium;
}

.expert-section-p-color {
  background-color: $cyan_mark;
}

.expert-section__heading-container--main {
  display: none;
}

.expert-section__list-container {
  width: col(7.2);
}

@include tablet {
  .expert-section{
    padding-top: remc(50);
    padding-bottom: remc(50);
  }

  .expert-section__heading-container--temp {
    display: none;
  }

  .expert-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .expert-setion__img {
    width: col(5.8);
    height: remc(328);
    margin-bottom: 0;
  }

  .expert-section__heading-container--main {
    display: block;
    width: col(12);
  }

  .expert-section__list-container {
    width: col(4.6);
  }

  .expert-section--h-size {
    font-size: remc(27);
    line-height: remc(34);
    text-align: left;
    margin-bottom: remc(16);
  }

  .expert-section--p-size {
    width: col(10.3);
    padding-bottom: remc(30);
  }
}

@include desktop {
  .expert-section{
    padding-top: remc(60);
    padding-bottom: remc(60);
  }

  .expert-setion__img {
    height: remc(364);
  }

  .expert-section--h-size {
    font-size: remc(30);
    line-height: remc(37);
  }
}