.facts-article {
  @extend %medium-xbold;
  margin: 0 auto;
}
.facts-text {
  @extend %small-medium;
  padding-left: remc(40);
  margin-top: remc(36);
  margin-bottom: remc(40);
}
.facts-list-items__title {
  font-family: $acrom-xbold;
  font-size: remc(23);
  line-height: remc(29);
  margin-bottom: remc(12s);
}
.facts-list-items__text {
  @extend %small-medium;
  background-color: $cyan_mark;
}
.facts-list-items__comment {
  margin-top: remc(18);
}
