.facts-list-items {
  padding-left: remc(18);

  &::before {
    display: block;
    content: '';
    background-color: $orange;
    width: remc(10);
    height: remc(10);
    position: absolute;
    left: 0;
    top: remc(12);
  }
  &__title--span {
    font-size: remc(13);
    line-height: remc(29);
  }
  &:not(:last-child) {
    margin-bottom: remc(26);
  }
}
