.future {
  @include flex($type: 'column-center');
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__container {
    @include flex($type: 'column-center');
    padding-bottom: remc(50);
    @include tablet {
      width: col(6);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: flex-start;
    }
  }
  &__photo {
    @include tablet {
      width: col(10);
    }
  }
  &-title {
    margin-top: remc(34);
    margin-bottom: remc(30);
    @extend %medium-bold;
    &__span {
      text-transform: uppercase;
      color: $white;
      background-color: $black;
    }
    @include tablet {
      margin-top: remc(32);
      margin-bottom: 0;
      width: col(3);
      font-size: remc(9);
      line-height: remc(15);
    }
    @include desktop {
      margin-top: remc(38);
      margin-bottom: 0;
      width: col(3);
      font-size: remc(10);
      line-height: remc(16);
    }
  }
  &-text {
    @extend %small-bold;
    @include tablet {
      width: col(7);
      font-size: remc(9);
      line-height: remc(13);
      padding-left: remc(18);
      margin-top: remc(32);
    }
    @include desktop {
      font-size: remc(10);
      line-height: remc(15);
      padding-left: remc(20);
      margin-top: remc(38);
    }
    &__subtext {
      @extend %small-regular;
      margin-bottom: remc(50);
      &--span {
        background-color: $cyan_mark;
      }
      @include tablet {
        font-size: remc(8);
        line-height: remc(12);
        margin-top: remc(8);
      }
      @include desktop {
        font-size: remc(9);
        line-height: remc(13);
        margin-top: remc(10);
      }
    }
  }
  &__container--list {
    @include flex($type: 'column-center');
    @include tablet {
      padding-left: remc(18);
      width: col(6);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
    }
  }
  &-subtitle {
    @extend %medium-bold;
    &__span {
      color: $white;
      text-transform: uppercase;
      background-color: $black;
    }
    @include tablet {
      width: col(10);
      font-size: remc(27);
      line-height: remc(34);
    }
    @include desktop {
      font-size: remc(30);
      line-height: remc(34);
    }
    &__text {
      @extend %small-regular;
      padding-left: remc(26);
      margin-top: remc(18);
      &::before {
        display: block;
        content: '';
        background-color: $black;
        width: remc(14);
        height: remc(4);
        position: absolute;
        top: remc(8);
        left: 0;
      }
      @include tablet {
        padding-left: remc(40);
        width: col(7);
        font-size: remc(9);
        line-height: remc(13);
        &::before {
          width: remc(29);
          top: remc(4);
        }
      }
      @include desktop {
        padding-left: remc(40);
        width: col(7);
        font-size: remc(10);
        line-height: remc(15);
        &::before {
          width: remc(32);
          top: remc(5);
        }
      }
    }
  }
  &-list {
    padding-left: remc(22);
    margin-top: remc(44);
    &__item {
      &::before {
        display: block;
        content: '';
        background-color: $black;
        width: remc(6);
        height: remc(6);
        position: absolute;
        left: remc(-22);
        top: remc(7);
      }
      &--title {
        @extend %small-xbold;
        text-transform: uppercase;
        margin-bottom: remc(20);
      }
      &--text {
        @extend %small-regular;
      }
      &:not(:last-child) {
        margin-bottom: remc(28);
      }
    }
    @include tablet {
      padding-left: remc(30);
      width: col(10);
      margin-top: remc(22);
      &__item {
        &::before {
          width: remc(8);
          height: remc(8);
          left: remc(-30);
          top: remc(5);
        }
        &--title {
          font-size: remc(9);
          line-height: remc(15);
          margin-bottom: remc(8);
        }
        &--text {
          font-size: remc(8);
          line-height: remc(12);
        }
        &:not(:last-child) {
          margin-bottom: remc(14);
        }
      }
    }
    @include desktop {
      padding-left: remc(30);
      width: col(10);
      margin-top: remc(22);
      &__item {
        &::before {
          width: remc(8);
          height: remc(9);
          left: remc(-30);
          top: remc(5);
        }
        &--title {
          font-size: remc(10);
          line-height: remc(16);
          margin-bottom: remc(8);
        }
        &--text {
          font-size: remc(9);
          line-height: remc(13);
        }
        &:not(:last-child) {
          margin-bottom: remc(20);
        }
      }
    }
  }
}
