.future-title {
  @extend %medium-bold;
  color: $white;
  background-color: $black;
}
.future-text {
  @extend %small-bold;
}
.future-subtext {
  @extend %small-regular;
}
.future-subtext__span {
  background-color: $cyan_mark;
}
.future-subtitle {
  @extend %medium-bold;
  color: $white;
  text-transform: uppercase;
  background-color: $black;
}
.future-subtitle__text {
  @extend %small-regular;
  padding-left: remc(40);
}
