.future-list {
  padding-left: remc(60);

  &__item {
    &::before {
      display: block;
      content: '';
      background-color: $black;
      width: remc(6);
      height: remc(6);
      position: absolute;
      left: remc(-38);
      top: remc(7);
    }
  }
}
.list-title {
  @extend %small-xbold;
  text-transform: uppercase;
}
.list-text {
  @extend %small-regular;
}
