.future-title {
  font-family: $acrom-bold;
  font-size: remc(18);
  line-height: remc(24);
  color: $white;
  background-color: $black;
}
.future-text {
  font-family: $acrom-bold;
  font-size: remc(14);
  line-height: remc(20);
}
.future-subtext {
  font-size: remc(14);
  line-height: remc(20);
}
.future-subtext__span {
  background-color: $cyan_mark;
}
.future-subtitle {
  font-family: $acrom-bold;
  font-size: remc(18);
  line-height: remc(24);
  color: $white;
  text-transform: uppercase;
  background-color: $black;
}
.future-subtitle__text {
  font-family: $acrom;
  font-size: remc(14);
  line-height: remc(20);
  padding-left: remc(40);
}
