.header {
  overflow: hidden;
  &__img {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      top: remc(-28);
      right: remc(14);
      width: remc(466);
    }
    @include desktop {
      width: remc(519);
    }
  }
  &__title {
    @include abs_center($top: 50%, $left: 50%);
    @extend %xlarge-xbold;
    text-transform: uppercase;
    color: $black;
    opacity: 0.2;
    margin: 0;
    padding: 0;
    @include tablet {
      font-size: remc(236);
    }
    @include desktop {
      font-size: remc(263);
    }
  }
  &__background {
    background-color: $bg_footer;
    background-image: url(../images/bg_accent_cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: remc(15);
    padding-bottom: remc(38);
    min-height: remc(612);
    @include tablet {
      min-height: remc(475);
    }
    @include desktop {
      min-height: remc(530);
    }
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: remc(24);
    &--sidebar {
      cursor: pointer;
      &:hover .header__navigation--list,
      &:focus .header__navigation--list {
        display: block;
        z-index: 2;
      }
      &-icon {
        @include flex($type: 'column');
        width: remc(28);
        height: remc(17);
        fill: $white;
        &:hover,
        &:focus {
          fill: $orange;
        }
      }
    }
    &--list {
      display: none;
      position: absolute;
      right: 0;
      top: remc(18);
      background-color: $bg_footer;
      background-image: url(../images/bg_accent_cloud.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 1px solid yellowgreen;
      width: col(12);
      text-align: center;
      @include tablet {
        width: col(12);
      }
      &-item {
        @extend %small-xbold;
        color: $white;
        text-transform: uppercase;
        padding: remc(10) 0;
        &:hover,
        &:focus {
          color: $orange;
          background-color: blanchedalmond;
        }
      }
    }
    @include tablet {
      padding-bottom: remc(50);
    }
    @include desktop {
      width: auto;
      padding-bottom: remc(56);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include tablet {
      padding-bottom: remc(46);
    }
    &-big {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: remc(158);
      &--article {
        @extend %large-xbold;
        color: $white;
        margin-bottom: remc(36);
        text-transform: uppercase;
        z-index: 1;
        &-before {
          padding-left: remc(15);
          display: inline-block;
          &::before {
            display: inline-block;
            content: '';
            background-color: $white;
            width: remc(8);
            height: remc(3);
            position: absolute;
            top: remc(18);
            left: remc(4);
          }
        }
        @include tablet {
          font-size: remc(45);
          line-height: remc(56);
          margin-bottom: remc(22);
          &-before {
            padding-left: remc(80);
            display: inline-block;
            &::before {
              display: inline-block;
              content: '';
              background-color: $white;
              width: remc(56);
              height: remc(8);
              position: absolute;
              top: remc(24);
              left: 0;
            }
          }
          &-after {
            padding-right: (remc(68));
            display: inline-block;
            &::after {
              display: inline-block;
              content: '';
              background-color: $white;
              width: remc(56);
              height: remc(8);
              position: absolute;
              top: remc(24);
              right: 0;
            }
          }
        }
        @include desktop {
          font-size: remc(50);
          line-height: remc(63);
          margin-bottom: remc(34);
        }
      }
      &--text {
        @extend %small-bold;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        padding-left: remc(22);
        padding-right: remc(28);

        &::before {
          display: inline-block;
          content: '<';
          font-family: $acrom-xbold;
          font-size: remc(23);
          color: $cyan;
          position: absolute;
          top: 0;
          left: 0;
        }
        &::after {
          display: inline-block;
          content: '/>';
          font-family: $acrom-xbold;
          font-size: remc(23);
          color: $cyan;
          position: absolute;
          top: remc(40);
          right: 0;
        }
        @include tablet {
          width: col(7.2);
          font-size: remc(8);
          line-height: remc(13);
          text-align: start;
          margin-left: remc(38);
          &::before,
          &::after {
            font-size: remc(13);
            line-height: remc(17);
          }
        }
        @include desktop {
          margin-left: remc(42);
          font-size: remc(9);
          line-height: remc(15);
          &::before,
          &::after {
            font-size: remc(15);
            line-height: remc(19);
          }
        }
      }
      @include tablet {
        align-items: flex-start;
        width: col(7);
        padding-bottom: remc(26);
      }
    }
    &-small {
      padding-left: remc(22);
      padding-right: remc(28);
      &--article {
        @extend %small-xbold;
        color: $white;
        margin-bottom: remc(10);
        text-transform: uppercase;
        @include tablet {
          font-size: remc(11);
          line-height: remc(17);
        }
        @include desktop {
          line-height: remc(19);
        }
      }
      &--text {
        @extend %small-xbold;
        color: $light-grey-banner;
        margin-bottom: remc(38);
        @include tablet {
          font-size: remc(11);
          line-height: remc(13);
        }
        @include desktop {
          font-size: remc(10);
          line-height: remc(15);
        }
      }
      @include tablet {
        width: col(3);
        padding: 0;
      }
      @include desktop {
        width: col(3);
      }
    }
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__button {
    @extend %xsmall-xbold;
    border: none;
    background-color: $orange;
    box-shadow: 0 remc(5) remc(6) 0 $button_shadow;
    width: remc(219);
    height: remc(55);
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    letter-spacing: remc(2);
    display: block;
    margin: 0 auto;
    &:hover,
    &:focus {
      background-color: $cyan;
      color: $orange;
    }
    @include tablet {
      font-size: remc(7);
      line-height: remc(10);
      width: remc(111);
      height: remc(29);
      margin: 0;
      margin-left: remc(60);
      letter-spacing: remc(1);
    }
    @include desktop {
      font-size: remc(7);
      line-height: remc(11);
      width: remc(123);
      height: remc(33);
      margin-left: remc(62);
      letter-spacing: remc(1);
    }
  }
  &__number {
    display: none;
    &--small {
      display: none;
    }
    @include tablet {
      display: inline-block;
      font-size: remc(13);
      font-family: $acrom;
      color: white;
      transform: rotate(270deg);
      padding-right: remc(22);
      &::after {
        display: inline-block;
        content: '';
        width: remc(11);
        height: remc(1);
        background-color: white;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      @include desktop {
        font-size: remc(15);
        bottom: remc(-64);
        left: remc(-64);
        &--small {
          display: inline-block;
          font-size: remc(9);
          line-height: remc(11);
          color: white;
          position: absolute;
          bottom: remc(-3);
          left: remc(50);
        }
      }
    }
  }
  &__socials {
    display: none;
    @include tablet {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: remc(110);
      right: remc(20);
      &--items {
        &:not(:last-child) {
          margin-right: remc(20);
        }
      }
    }
    @include desktop {
      position: relative;
      bottom: 0;
      right: 0;
    }
  }
  &__link {
    &--icon {
      width: remc(10);
      height: remc(9);
      fill: $white;
      &:hover,
      &:focus {
        fill: $orange;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
    }
    @include desktop {
      width: auto;
    }
  }
}
