.header {
  &__background {
    &--img {
      display: none;
      @include tablet {
        display: block;
        // background-image: url(../images/img_main.png);
        position: absolute;
        top: -24px;
        right: 0px;
        width: col(8.5);
      }
    }
  }
  &__title {
    @include abs_center($top: 50%, $left: 50%);
    @extend %xlarge-xbold;
    text-transform: uppercase;
    color: $black;
    opacity: 0.2;
    margin: 0;
    padding: 0;

    @include tablet {
      font-size: remc(236);
    }
    @include desktop {
      font-size: remc(263);
    }
  }
  &__background {
    background-color: $bg_footer;
    background-image: url(../images/bg_accent_cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: remc(15);
    padding-bottom: remc(38);
    min-height: remc(612);
    @include tablet {
      min-height: remc(475);
    }
    @include desktop {
      min-height: remc(530);
    }
  }
  &__navigation {
    &--menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: remc(24);
    }
    @include tablet {
      padding-bottom: remc(50);
    }
    @include desktop {
      width: auto;
      padding-bottom: remc(56);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &-big {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: remc(158);
      &--article {
        @extend %large-xbold;
        color: $white;
        margin-bottom: remc(36);
        text-transform: uppercase;
        z-index: 1;
        @include tablet {
          font-size: remc(45);
          line-height: remc(56);
          margin-bottom: remc(22);
        }
        @include desktop {
          font-size: remc(50);
          line-height: remc(63);
          margin-bottom: remc(34);
        }
      }
      &--text {
        @extend %small-bold;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        padding-left: remc(22);
        padding-right: remc(28);
        &::before {
          display: inline-block;
          content: '<';
          font-family: $acrom-xbold;
          font-size: remc(23);
          color: $cyan;
          position: absolute;
          top: 0;
          left: 0;
        }
        &::after {
          display: inline-block;
          content: '/>';
          font-family: $acrom-xbold;
          font-size: remc(23);
          color: $cyan;
          position: absolute;
          top: remc(40);
          right: 0;
        }
        @include tablet {
          width: col(7.2);
          font-size: remc(8);
          line-height: remc(13);
          text-align: start;
          &::before,
          &::after {
            font-size: remc(13);
            line-height: remc(17);
          }
        }
        @include desktop {
          font-size: remc(9);
          line-height: remc(15);
          &::before,
          &::after {
            font-size: remc(15);
            line-height: remc(19);
          }
        }
      }
      @include tablet {
        width: col(7);
        padding-bottom: remc(26);
      }
    }
    &-small {
      padding-left: remc(22);
      padding-right: remc(28);
      &--article {
        @extend %small-xbold;
        color: $white;
        margin-bottom: remc(10);
        text-transform: uppercase;
        @include tablet {
          font-size: remc(11);
          line-height: remc(17);
        }
        @include desktop {
          line-height: remc(19);
        }
      }
      &--text {
        @extend %small-xbold;
        color: $light-grey-banner;
        margin-bottom: remc(38);
        @include tablet {
          font-size: remc(11);
          line-height: remc(13);
        }
        @include desktop {
          font-size: remc(10);
          line-height: remc(15);
        }
      }
      @include tablet {
        width: col(3);
        padding: 0;
      }
      @include desktop {
        width: col(3);
      }
    }
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__button {
    @extend %xsmall-xbold;
    border: none;
    background-color: $orange;
    box-shadow: 0px 5px 6px 0px $button_shadow;
    width: remc(219);
    height: remc(55);
    color: $white;
    text-transform: uppercase;
    letter-spacing: remc(2);
    display: block;
    margin: 0 auto;
    @include tablet {
      font-size: remc(7);
      line-height: remc(10);
      width: remc(111);
      height: remc(29);
      margin: 0;
      margin-left: remc(94);
      letter-spacing: remc(1);
    }
    @include desktop {
      font-size: remc(7);
      line-height: remc(11);
      width: remc(123);
      height: remc(33);
      margin-left: remc(104);
      letter-spacing: remc(1);
    }
  }
  &__socials {
    display: none;
    @include tablet {
      width: col(0.7);
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 100px;
      right: 0;
    }
  }
  &__link {
    &--icon {
      width: remc(10);
      height: remc(9);
      fill: $white;
    }
  }
  &__number {
    display: none;
    &--small {
      display: none;
    }
    @include tablet {
      display: inline-block;
      font-size: remc(13);
      font-family: $acrom;
      color: white;
      transform: rotate(270deg);
      padding-right: remc(22);
      &::after {
        display: inline-block;
        content: '';
        width: 11px;
        height: 1px;
        background-color: white;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      @include desktop {
        font-size: remc(15);
        bottom: remc(-64);
        left: remc(-64);
        &--small {
          display: inline-block;
          font-size: remc(9);
          line-height: remc(11);
          color: white;
          position: absolute;
          bottom: remc(-3);
          left: remc(50);
        }
      }
    }
  }
}
.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
  }
  @include desktop {
    width: auto;
  }
}
.sidebar-icon {
  @include flex($type: 'column');
  width: 28px;
  height: 17px;
  fill: $white;
}
