.motivation-list {
  padding-bottom: 44px;
}

.motivation-list__item {
  padding-left: remc(18);
  &::before {
    display: block;
    content: '';
    background-color: $black;
    width: remc(8);
    height: remc(8);
    position: absolute;
    left: 0;
    top: remc(6);
  }
  &:not(:last-child) {
    margin-bottom: remc(20);
  }
  &--span {
    @extend %small-bold;
  }
}
