.now{
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: remc(13.5);

    &__container {
        width: col(8);
      }
    
    &__argument{
      position: relative;
      color: $orange;
      width: 340px;
      padding-top: remc(43);
      padding-bottom: remc(23);

      &:before{
        position: absolute;
        display: block;
        content: '';
        width: remc(13);
        height: remc(2);
        top: remc(50);
        left: remc(-30);
        background-color: $black;
        transform: rotate(-45deg);
      }

    }
     
    
    &__title{
      font-size: remc(18);
      background-color: $black;
      color: $white;
      padding: remc(2) remc(10);
    }

    &__second--argument{
      position: relative;
      width: 260px;
      font-family: $acrom-medium;
      padding-top: remc(25);

      &:before{
        position: absolute;
        display: block;
        content: '';
        width: remc(20);
        height: remc(2);
        top: remc(30);
        left: remc(-35);
        background-color: $black;
      }
    }

    &__second--title{
      width: 365px;
      font-size: remc(13.5);
      font-family: $acrom-xbold;
      padding-top: remc(55);
      padding-bottom: remc(30);
    }

    &__list{
      
      list-style: none;
      text-align: center left;
      width: 265px;
    }

    &__item{
      font-size: remc(13.5);
      position: relative;
      counter-reset: section;

      &:before{
        position: absolute;
        display: block;
        content: '';
        width: remc(49);
        height: remc(13);
        top: remc(25);
        left: remc(-50);
        color: $white;
        padding: remc(0) remc(5);
        
        transform: rotate(-90deg);
        background-color: $orange;
      }

      &:nth-child(1):before{
        content: '[001]';
      }

      &:nth-child(2):before{
        content: '[002]';
      }

      &:nth-child(3):before{
        content: '[003]';
      }

      &:nth-child(4):before{
        content: '[004]';
      }

      &:nth-child(5):before{
        content: '[005]';
      }

      &:nth-child(6):before{
        content: '[006]';
      }
    }

    &__item--title{
      font-family: $acrom-bold;
   
    }

    &__item--describe{
       font-family: $acrom;
       padding-bottom: remc(28);
    }
}