.now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: remc(13.5);
  position: relative;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &:before {
    display: block;
    position: absolute;
    content: 'IT';
    font-size: remc(198);
    line-height: remc(159);
    left: remc(180);
    top: remc(30);
    font-family: $acrom-xbold;
    color: $bg_text;
    text-transform: uppercase;
    transform: rotate(90deg);
    z-index: -1;
  }

  &__container {
    width: col(8);
  }

  &__argument {
    font-size: remc(13.5);
    line-height: remc(20);
    font-family: $acrom-medium;
    position: relative;
    color: $orange;
    width: remc(340);
    padding-top: remc(43);
    padding-bottom: remc(23);

    @include tablet {
      width: remc(145);
      font-size: remc(9);
      line-height: remc(13);
    }

    @include desktop {
      font-size: remc(10);
      line-height: remc(15);
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: remc(13);
      height: remc(2);
      top: remc(50);
      left: remc(-30);
      background-color: $black;
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-size: remc(18);
    font-family: $acrom-xbold;
    background: $black;
    color: $white;
    padding: remc(2) remc(10);
    text-transform: uppercase;

    @include tablet {
      font-size: remc(27);
      line-height: remc(34);
      padding: remc(0) remc(0);
    }
  }

  &__second--argument {
    font-size: remc(13.5);
    line-height: remc(20);
    position: relative;
    font-family: $acrom-medium;
    padding-top: remc(25);

    @include tablet {
      font-size: remc(9);
      line-height: remc(13);
      width: remc(175);
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: remc(20);
      height: remc(2);
      top: remc(30);
      left: remc(-35);
      background-color: $black;
    }
  }

  &__second--title {
    width: remc(365);
    font-size: remc(13.5);
    line-height: remc(20);
    font-family: $acrom-xbold;
    text-transform: uppercase;
    padding-top: remc(55);
    padding-bottom: remc(30);

    @include tablet {
      width: remc(115);
      padding: 0;
      margin-right: remc(50);
    }

    @include desktop {}
  }

  &__list {
    list-style: none;
    text-align: left;
    width: col(8);
    margin: 0 auto;

    @include tablet {
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: col(9);
    }
  }

  &__item {
    font-size: remc(13.5);
    position: relative;
    counter-reset: section;
    width: remc(265);

    @include tablet {
      width: remc(125);
      padding-left: remc(38);
      text-align: left;
      width: col(4);
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      top: remc(25);
      left: remc(-50);
      color: $white;
      padding: remc(0) remc(5);
      transform: rotate(-90deg);
      background-color: $orange;

      @include tablet {
        top: remc(10);
        left: remc(5);
        
        font-size: remc(7);
        padding: 0 remc(2);
      }
    }

    &:nth-child(1):before {
      content: '[001]';
    }

    &:nth-child(2):before {
      content: '[002]';
    }

    &:nth-child(3):before {
      content: '[003]';
    }

    &:nth-child(4):before {
      content: '[004]';
    }

    &:nth-child(5):before {
      content: '[005]';
    }

    &:nth-child(6):before {
      content: '[006]';
    }
  }

  &__item--title {
    font-size: remc(13.5);
    line-height: remc(19.5);
    font-family: $acrom-bold;

    @include tablet {
      font-size: remc(9);
      line-height: remc(12);
    }
  }

  &__item--describe {
    font-size: remc(13.5);
    line-height: remc(19.5);
    font-family: $acrom;
    padding-bottom: remc(28);
    color: $secondary_text;

    @include tablet {
      font-size: remc(8);
      line-height: remc(12);
    }
  }

  &__wrapper {
    width: col(9);
    margin: 0 auto;
    @include tablet {
      margin: 0;
      width: remc(280);
      margin-left: remc(85);
    }
  }

  &__wrapper--second {
    @include tablet {
      display: flex;
      justify-content: center;
      padding-top: remc(50);
    }
  }
}
