.now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: remc(13.5);
  position: relative;
  padding-top: remc(18);
  padding-bottom: remc(40);
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: remc(52);
    padding-bottom: remc(52);
  }
  &:before {
    display: block;
    position: absolute;
    content: 'IT';
    transform: rotate(90deg);
    z-index: -1;
    font-family: $acrom-xbold;
    color: $bg_text;
    font-size: remc(226);
    line-height: remc(181);
    left: remc(168);
    top: remc(36);
    text-transform: uppercase;
    @include tablet {
      font-size: remc(198);
      line-height: remc(159);
      left: remc(106);
      top: remc(72);
      text-transform: uppercase;
    }
    @include desktop {
      font-size: remc(221);
      line-height: remc(177);
      left: remc(100);
      top: remc(72);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: col(12);
    }
  }
  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      width: col(5);
      justify-content: center;
    }
    @include desktop {
      width: col(4.6);
    }
  }
  &__argument {
    width: col(10);
    font-size: remc(13.5);
    line-height: remc(20);
    font-family: $acrom-medium;
    position: relative;
    color: $orange;
    padding-left: remc(27);
    margin-bottom: remc(23);
    @include tablet {
      width: col(6);
      font-size: remc(9);
      line-height: remc(13);
      padding-left: remc(24);
      margin-bottom: remc(16);
    }

    @include desktop {
      font-size: remc(10);
      line-height: remc(15);
      margin-bottom: remc(18);
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-color: $black;
      transform: rotate(-55deg);
      width: remc(12);
      height: remc(2);
      top: remc(10);
      left: remc(0);

      @include tablet {
        width: remc(14);
        height: remc(2);
      }
      @include desktop {
        width: remc(15);
        height: remc(2);
      }
    }
  }

  &__title {
    font-size: remc(18);
    font-family: $acrom-xbold;
    &--span {
      background: $black;
      color: $white;
      text-transform: uppercase;
    }
    @include tablet {
      font-size: remc(27);
      line-height: remc(34);
      padding: remc(0) remc(0);
    }
    @include desktop {
      font-size: remc(30);
      line-height: remc(38);
      &--span {
        line-height: remc(40);
      }
    }
  }
  &__second {
    &--argument {
      width: col(8);
      font-size: remc(13.5);
      line-height: remc(20);
      position: relative;
      font-family: $acrom-medium;
      padding-left: remc(38);
      margin-top: remc(22);
      @include tablet {
        font-size: remc(9);
        line-height: remc(13);
        width: col(8);
        padding-left: remc(46);
        margin-top: remc(26);
      }
      @include desktop {
        font-size: remc(10);
        line-height: remc(15);
        padding-left: remc(52);
        margin-top: remc(24);
      }
      &:before {
        position: absolute;
        display: block;
        content: '';
        background-color: $black;
        width: remc(20);
        height: remc(3);
        top: remc(10);
        left: remc(0);
        @include tablet {
          width: remc(29);
          height: remc(4);
          top: remc(3);
          left: remc(0);
        }
      }
    }
  }
  &__second--title {
    width: col(12);
    font-size: remc(13.5);
    line-height: remc(20);
    font-family: $acrom-xbold;
    text-transform: uppercase;
    margin-bottom: remc(30);

    @include tablet {
      width: col(2);
      padding: 0;
    }

    @include desktop {
      width: col(1.8);
    }
  }
  &__list {
    width: col(8);
    margin: 0 auto;
    padding-top: remc(32);
    @include tablet {
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: col(9);
      padding-top: 0;
    }
  }
  &__item {
    font-size: remc(13.5);
    position: relative;
    counter-reset: section;
    width: remc(265);
    &:not(:last-child) {
      padding-bottom: remc(30);
    }
    @include tablet {
      padding-left: remc(24);
      text-align: left;
      width: col(3.435);
      &:not(:last-child) {
        padding-bottom: 0;
      }
      &:nth-child(-n + 3) {
        padding-bottom: remc(36);
      }
    }
    @include desktop {
      width: col(3.08);
      &:nth-child(-n + 3) {
        padding-bottom: remc(36);
      }
    }
    &:before {
      position: absolute;
      display: block;
      content: '';
      top: remc(25);
      left: remc(-50);
      color: $white;
      padding: remc(0) remc(5);
      transform: rotate(-90deg);
      background-color: $orange;

      @include tablet {
        top: remc(10);
        left: 0;
        font-size: remc(7);
        padding: 0 remc(2);
      }
    }

    &:nth-child(1):before {
      content: '[001]';
    }

    &:nth-child(2):before {
      content: '[002]';
    }

    &:nth-child(3):before {
      content: '[003]';
    }

    &:nth-child(4):before {
      content: '[004]';
    }

    &:nth-child(5):before {
      content: '[005]';
    }

    &:nth-child(6):before {
      content: '[006]';
    }
  }

  &__item--title {
    font-size: remc(13.5);
    line-height: remc(19.5);
    font-family: $acrom-bold;

    @include tablet {
      font-size: remc(9);
      line-height: remc(12);
    }
  }

  &__item--describe {
    font-size: remc(13.5);
    line-height: remc(19.5);
    font-family: $acrom;
    color: $secondary_text;

    @include tablet {
      font-size: remc(8);
      line-height: remc(12);
    }
  }

  &__wrapper {
    padding-top: remc(46);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include tablet {
      padding-top: 0;
      align-items: flex-start;
      width: col(6);
    }
    &--second {
      padding-top: remc(55);
      @include tablet {
        display: flex;
        justify-content: space-between;
        padding-top: remc(50);
      }
    }
  }
}
