.profession{
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
 
    &__title{
        font-family: $acrom-xbold;
        font-size: remc(18);
        line-height: remc(24);
        text-transform: uppercase;
        width: remc(235);
        padding-top: remc(35);
        padding-bottom: remc(10);

        @include tablet{
            font-size: remc(27);
            line-height: remc(33);
            width: remc(245);
            margin-right: remc(34);
            padding: 0;
    }
        @include desktop{
        font-size: remc(30);
        line-height: remc(38);
       }
    }

    &__title--second{
        font-size: remc(9);
        line-height: remc(14);
        
        @include tablet{
            padding: 0;
        }
       }
 
    &__subtitle{
        position: relative;
        font-family: $acrom-medium;
        font-size: remc(13.5);
        line-height: remc(20);
        width: remc(235);
        padding-bottom: remc(30);
        

        @include tablet{
            font-size: remc(9);
            line-height: remc(13);
            flex-wrap: wrap;
            width: remc(195);
           }
 
        &:last-child{
         font-family: $acrom;

         @include tablet{
            font-size: remc(9);
            line-height: remc(13);
            order: 1;
         }
     }
    }
     &--second{
        font-size: remc(8);
        line-height: remc(13);
       }

       &__wrapper{
           margin-left: remc(25);
       }

       &__image{
           flex-shrink: 0;
       }
    }
 