.profession{
   background-color: $white;
   display: flex;
   flex-direction: column;
   @include flex('all')

   @include tablet{
       flex-direction: row;
       justify-content: space-between;
   }


   &__container {
    width: col(8);

    @include tablet{
        width: col(12);
    }
  }

   &__title{
       font-family: $acrom-xbold;
       font-size: remc(18);
       line-height: remc(24);
       text-transform: uppercase;
       padding-top: remc(35);
       padding-bottom: remc(10);

       @include tablet{
        font-size: remc(27);
        line-height: remc(33);
        width: remc(245);
        margin-right: remc(34);
        
       }

       @include desktop{
        font-size: remc(30);
        line-height: remc(38);
       }

       &--second{
           @include tablet{
            font-size: remc(8);
            line-height: remc(15);
            width: col(4);
            margin-left: remc(34);
           }
       }

   }

   &__subtitle{
       position: relative;
       font-family: $acrom-medium;
       font-size: remc(13.5);
       line-height: remc(20);
       padding-bottom: remc(30);
       
       @include tablet{
        flex-wrap: wrap;
        width: remc(195);
       }

       &:last-child{
        font-family: $acrom;
        margin-left: remc(34);

        @include tablet{
            font-size: remc(9);
            line-height: remc(13);
            order: 1;
           
            
            
        }
       }

       &--second{
        font-size: remc(8);
        line-height: remc(13);
       }
    }
}

