.section-heading {
  @extend %medium-xbold;
  text-transform: uppercase;
  width: remc(196);
  margin-bottom: remc(14);

  &:after {
    content: "]";
  }
}

.section-heading--black {
  background-color: $black;
  color: $white;
  padding-right: remc(4);

  &:before {
    content: "[ ";
    background-color: $black;
    color: $white;
  }
}

@include tablet {
  .section-heading {
    font-size: remc(27);
    line-height: remc(34);
    width: remc(200);
  }
}

@include desktop {
  .section-heading {
    font-size: remc(30);
    line-height: remc(37);
    width: remc(222);
  }
}