.career {
  padding-top: remc(18);
  padding-bottom: remc(26);
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: remc(232);
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 0;
    }
    &--inner-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: col(5);
        align-items: flex-start;
      }
    }
    &--content-1 {
      width: col(8.5);
      position: absolute;
      bottom: remc(32);
      @include tablet {
        width: col(8.9);
        position: relative;
        bottom: 0;
        padding-top: remc(10);
      }
      @include desktop {
        padding-top: remc(11);
      }
    }
    &--title-1 {
      font-family: $acrom-xbold;
      font-size: remc(15);
      line-height: remc(23);
      text-transform: uppercase;
      margin-bottom: remc(22);
      padding-left: 24px;
      &::before {
        display: block;
        content: '';
        width: remc(8);
        height: remc(8);
        background-color: $black;
        position: absolute;
        top: remc(8);
        left: 0;
      }
      @include tablet {
        font-size: remc(9);
        line-height: remc(15);
        padding: 0;
        padding-top: remc(26);
        margin-bottom: remc(14);
        &::before {
          top: 0;
          left: 0;
        }
      }
      @include desktop {
        font-size: remc(10);
        line-height: remc(16);
        padding-top: remc(30);
        margin-bottom: remc(14);
      }
    }
    &--text-1 {
      @extend %small-regular;
      @include tablet {
        font-size: remc(8);
        line-height: remc(12);
      }
      @include desktop {
        font-size: remc(9);
        line-height: remc(13);
      }
    }
    &--inner-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: col(6);
      }
    }
    &--content-2 {
      width: col(8.5);
      padding-top: remc(26);
      padding-bottom: remc(26);
      @include tablet {
        width: col(12);
        padding-top: remc(16);
        padding-bottom: remc(42);
      }
      @include desktop {
        padding-top: remc(58);
        padding-bottom: remc(44);
      }
    }
    &--title-2 {
      @extend %medium-xbold;
      text-transform: uppercase;
      margin-bottom: remc(6);
      @include tablet {
        font-size: remc(27);
        line-height: remc(34);
        margin-bottom: remc(24);
      }
      @include desktop {
        font-size: remc(30);
        line-height: remc(38);
        margin-bottom: remc(30);
      }
    }
    &--text-2 {
      @extend %small-medium;
      padding-left: remc(38);
      &::before {
        display: block;
        content: '';
        width: remc(21);
        height: remc(3);
        background-color: $black;
        position: absolute;
        top: remc(8);
        left: 0;
      }
      @include tablet {
        font-size: remc(9);
        line-height: remc(13);
        width: col(9);
        padding-left: remc(48);
        &::before {
          width: remc(30);
          height: remc(5);
        }
      }
      @include desktop {
        font-size: remc(10);
        line-height: remc(15);
        padding-left: remc(52);
        &::before {
          width: remc(32);
          height: remc(4);
        }
      }
    }
  }
}
