.img_desk_tab {
  display: none;
}

.warning_head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-transform: uppercase;
  font-family: $acrom-xbold, $acrom-bold;
  font-size: 1.125rem;
  padding-bottom: 2.5rem;

  .warning_title {
    display: flex;
    font-family: $acrom-medium;
    color: $black;
    font-weight: bold;
    font-size: remc(14);
    line-height: remc(16);
    padding-top: 1.5rem;

    &::before {
      display: block;
      background-color: $black;
      content: '';
      width: 2rem;
      height: 0.16rem;
      transform: translate(-20%, 300%);
    }
  }
}

.list_item_container {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  margin: 0 auto;
  list-style: square;
}

.list_style_head {
  font-family: $acrom-xbold;
  text-transform: uppercase;
  font-weight: bold;
  font-size: remc(14);
  line-height: remc(16);
  padding-bottom: 0.6rem;
}

.list_style_description {
  font-family: $acrom;
  font-size: remc(13);
  line-height: remc(16);
  padding-bottom: 1.25rem;
}

@include tablet {
  .img_desk_tab {
    display: flex;
    flex-wrap: nowrap;
  }

  .tab_options {
    display: flex;
    justify-content: space-around;
  }
}