.section {
  margin-top: remc(36);
  padding-top: remc(36);
  @include tablet {
    margin-top: remc(56);
    margin-bottom: remc(54);
  }
}
.head {
  @include tablet {
    display: flex;
  }
}
.section-head {
  width: remc(318);
  margin: 0 auto;
  margin-bottom: remc(32);
  @include tablet {
    width: remc(200);
  }
  &__header {
    @extend %medium-xbold;
    width: remc(213);
    text-transform: uppercase;
    margin-bottom: remc(16);
    padding-left: remc(38);
    @include tablet {
      font-size: remc(27);
      line-height: remc(34);
      width: remc(190);
      padding-left: 0;
      margin-bottom: remc(30);
    }
  }
  &__description {
    @extend %small-medium;
    padding-left: remc(38);
    &::before {
      display: block;
      content: '';
      width: remc(20);
      height: remc(3);
      background-color: $black;
      position: absolute;
      top: remc(8);
      left: 0;
    }
    @include tablet {
      width: 95%;
      font-size: remc(9);
      line-height: remc(13);
    }
  }
  &__image {
    @include tablet {
      align-self: flex-start;
    }
  }
}
.section-description {
  line-height: remc(20);
  font-size: remc(14);
  padding-top: remc(16);
  @include tablet {
    display: flex;
    justify-content: space-between;
    line-height: remc(15);
    font-size: remc(9);
  }
  &__image-desk {
    padding-top: remc(27);
    align-self: flex-end;
  }
  &-paragraphs {
    @include tablet {
      width: col(7);
    }
  }
  &__header {
    @extend %small-xbold;
    text-transform: uppercase;
    color: $white;
    width: remc(224);
    margin-bottom: remc(16);
    @include tablet {
      width: remc(196);
    }
    @include desktop {
      line-height: remc(16);
      font-size: remc(10);
    }
    &--text {
      @include tablet {
        width: remc(82);
        margin: 0;
        font-size: remc(9);
        line-height: remc(15);
      }
      @include desktop {
        width: remc(86);
      }
    }
    &--bgc {
      background-color: $black;
      display: inline-block;
    }
  }
  &__text {
    width: remc(380);
    @include tablet {
      width: remc(170);
    }
    &--bold {
      @extend %small-bold;
      margin-bottom: remc(16);
      @include tablet {
        width: remc(170);
        margin: 0;
        margin-bottom: remc(13);
        font-size: remc(9);
        line-height: remc(13);
      }
    }
    &--regular {
      @extend %small-regular;
      @include tablet {
        line-height: remc(12);
        font-size: remc(8);
        margin: 0;
      }
      @include desktop {
        line-height: remc(13);
        font-size: remc(9);
      }
    }
  }
  &__image-mobile {
    @include tablet {
      display: none;
    }
  }
  &__image-desk {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__list {
    padding-left: remc(40);
    padding-top: remc(40);
    padding-bottom: remc(30);
    @include tablet {
      display: flex;
      margin-bottom: remc(35);
      padding-bottom: 0;
      padding-top: remc(8);
    }
    &--order-2 {
      order: 2;
    }
    &--order-3 {
      order: 3;
    }
  }
}
