.video-course {
  background-color: $white;
  margin: 0 auto;
  margin-bottom: remc(30.4);

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  
  &__container {
    margin: 0 auto remc(11.2);
    width: col(8);

    @include tablet {
      display: flex;
      padding-top: remc(51.8);
      margin: 0;
      flex-wrap: wrap;
      width: col(6);
    }
  }

  &__title-wrapper {
    @include tablet {
      order: -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: col(6);
      margin-right: auto;
      margin-bottom: remc(23.2);
    }

    @include desktop {
      margin-bottom: remc(56.8);
    }
  }

  &__title {
    @extend %medium-xbold;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: remc(16.2);

    @include tablet {
      text-align: initial;
      margin: 0;
      text-transform: uppercase;
      font-size: remc(27);
      line-height: remc(34);
      margin-bottom: remc(14);
      width: remc(215);
    }

    @include desktop {
      font-size: remc(30);
      line-height: remc(37.5);
      margin-bottom: remc(18.6);
      margin-top: remc(23.2);
      width: remc(240);
    }
  }

  &__subtitle {
    margin: 0 auto;
    text-align: initial;
    position: relative;
    width: col(6);
    font-size: remc(13.5);
    line-height: remc(19.5);
    font-family: $acrom-medium;
    margin-bottom: remc(35);
    padding-left: remc(11.8);

    @include tablet {
      font-size: remc(9);
      line-height: remc(13.46);
      margin-bottom: remc(9);
      padding-left: remc(17);
    }

    @include desktop {
      font-size: remc(10);
      line-height: remc(15);
      padding-left: remc(23.2);
      margin: 0;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: remc(20);
      height: remc(2);
      top: remc(7.6);
      left: remc(-25.6);
      background-color: $black;

      @include tablet {
        width: remc(29);
        height: remc(4);
        left: remc(-29);
        top: remc(6);
      }

      @include desktop {
        width: remc(32);
        height: remc(4);
        left: remc(-32);
      }
    }
  }

  &__picture-element1 {
    margin-bottom: remc(30);

    @include tablet {
      order: -2;
      margin-bottom: remc(28);
      width: remc(275);
    }

    @include desktop {
      width: auto;
    }
  }

  &__picture-element2 {
    display: none;
    @include tablet {
      display: block;
      width: remc(225);
      margin-right: remc(54);
      margin-top: remc(21);
    }

    @include desktop {
      width: remc(251);
      margin-right: remc(61);
      margin-top: remc(25.8);
    }
  }

  &__image {
    width: 100%;
    height: remc(165.4);
    margin-bottom: remc(30);

    @include tablet {
      margin-bottom: 0;
      height: auto;
    }

    @include desktop {
      width: auto;
    }
  }

  &__cause {
    @extend %small-xbold;
    text-transform: uppercase;
    color: $white;
    width: remc(240);
    margin-bottom: remc(0.96);

    > span {
      background-color: $black;
    }

    @include tablet {
      margin-right: remc(27);
      width: remc(95);
      font-size: remc(9);
      line-height: remc(14.58);
      margin-bottom: remc(26.6);

      // &:nth-child(1) {
      //   margin-bottom: remc(26.6);
      // }
    }

    @include desktop {
      width: remc(105);
      font-size: remc(10);
      line-height: remc(16.25);
    }
  }

  &__cause--describe {
    @extend %small-regular;
    color: $secondary_text;
    width: remc(304);
    padding-bottom: remc(23.2);
    padding-top: remc(6.752);

    @include tablet {
      width: remc(165);
      font-size: remc(8);
      line-height: remc(11.78);
      padding: 0;
    }

    @include desktop {
      font-size: remc(9);
      line-height: remc(13.13);
      width: remc(180);
    }
  }

  &__title--second {
    margin: 0 auto;
    font-size: remc(13.5);
    line-height: remc(19);
    font-family: $acrom-xbold;
    width: remc(375);
    text-transform: uppercase;
    padding-bottom: remc(22.4);
    padding-left: remc(3.4);

    @include tablet {
      align-self: flex-start;
      width: col(2);
      margin: 0;
      padding: 0;
      font-size: remc(9);
      line-height: remc(15);
      padding-top: remc(52.8);
    }

    @include desktop {
      padding-top: remc(59.2);
      font-size: remc(10);
      line-height: remc(16.25);
    }
  }

  &__list {
    margin: 0 auto;
    margin-bottom: remc(57.6);
    width: 68%;

    list-style: none;
    font-size: remc(13.5);
    line-height: remc(19);

    &--wrapper {
      @include tablet {
        width: col(9);
      }
    }

    @include tablet {
      @include flex('between-start');
      flex-wrap: wrap;
      width: col(12);
      padding-top: remc(55);
      margin-bottom: 0;
    }

    @include desktop {
      padding-top: remc(59.8);
    }
  }

  &__item {
    position: relative;
    padding-left: remc(31);
    margin-bottom: remc(23.28);

    &:before {
      @extend %small-bold;
      position: absolute;
      display: block;
      content: '';
      top: remc(20);
      left: remc(-24);
      color: $white;
      padding: 0 6px;
      transform: rotate(-90deg);
      background-color: $orange;

      @include tablet {
        font-size: remc(6);
        line-height: remc(7);
        padding: 0 remc(2);
        left: remc(-3.4);
        top: remc(10);
      }
    }

    &:nth-child(1):before {
      content: '[001]';
    }

    &:nth-child(2):before {
      content: '[002]';
    }

    &:nth-child(3):before {
      content: '[003]';
    }

    &:nth-child(4):before {
      content: '[004]';
    }

    &:nth-child(5):before {
      content: '[005]';
    }

    @include tablet {
      width: col(4);
      margin: 0;
      min-height: remc(96);
      padding-bottom: remc(23.8);
    }

    @include desktop {
      display: block;
      padding-bottom: remc(27);
    }
  }

  &__item--title {
    @extend %small-bold;
    padding-bottom: remc(5.6);
    letter-spacing: -0.01rem;

    @include tablet {
      width: remc(105);
      font-size: remc(9);
      line-height: remc(11.78);
      padding: 0;
      margin-bottom: remc(9);
    }

    @include desktop {
      width: remc(114.6);
      font-size: remc(10);
      line-height: remc(13.13);
      margin-bottom: remc(4.2);
    }
  }

  &__item--subtitle {
    font-family: $acrom;
    font-size: remc(14);
    line-height: remc(19.5);
    color: $secondary_text;

    @include tablet {
      font-size: remc(8);
      line-height: remc(11.78);
    }

    @include desktop {
      font-size: remc(9);
      line-height: remc(13.13);
    }
  }

  &__price-block {
    @include flex('between-start');
    padding-top: remc(34);

    @include tablet {
      min-height: remc(55);
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0;
      padding-right: remc(10.4);
    }
  }

  &__price-title {
    font-family: $acrom-medium;
    font-size: remc(17);
    line-height: remc(29);
    text-align: center;

    @include tablet {
      font-size: remc(8);
      line-height: remc(13.46);
    }

    @include desktop {
      font-size: remc(9);
      line-height: remc(15);
    }

    > span {
      background-color: $cyan_mark;
    }

    &--wrapper {
      width: remc(251.8);
      padding-top: remc(5);
      margin-right: remc(21.2);

      @include tablet {
        width: remc(67);
        margin-right: remc(13);
        margin-bottom: remc(5);
      }

      @include desktop {
        margin-right: remc(15);
        margin-bottom: remc(6);
        width: remc(76);
      }
    }
  }

  &__price-wrapper {
    @include flex('column');
    justify-content: center;
    width: remc(207);

    @include tablet {
      width: auto;
    }

    @include desktop {
      padding-top: remc(17);
      width: auto;
    }
  }

  &__price-first {
    font-family: $acrom-xbold;
    font-size: remc(17);
    line-height: remc(14.8);
    text-decoration: line-through;
    color: $old_price;
    margin-bottom: remc(15);

    @include tablet {
      font-size: remc(8);
      line-height: remc(20.19);
      margin-bottom: 0;
    }

    @include desktop {
      font-size: remc(9);
      line-height: remc(22.5);
    }
  }

  &__price-second {
    font-family: $acrom-xbold;
    font-size: remc(36);
    line-height: remc(34.4);

    @include tablet {
      font-size: remc(17);
      line-height: remc(19);
    }

    @include desktop {
      font-size: remc(19);
    }

    &--hrn-height {
      font-size: remc(19.4);
      line-height: remc(43.6);

      @include tablet {
        font-size: remc(9);
        line-height: remc(20.19);
      }

      @include desktop {
        font-size: remc(10);
        line-height: remc(22.5);
      }
    }
  }
}
