.video-step {
  padding-top: remc(22);
  padding-bottom: remc(22);
  @include flex('column-center');
}

.video-step__heading-container {
  width: col(12);
  height: remc(176);
  margin-bottom: remc(22);
}

.video-step__bg-img {
  width: col(12);
  height: 100%;
  background-image: url(../images/img_section10.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-step__img,
.only-heading-container {
  display: none;
}

.video-step__list {
  width: col(8.5);
  padding-bottom: remc(52);
}

.video-step__description {
  font-family: $acrom-xbold;
  font-size: remc(11);
  line-height: remc(17);
  text-transform: uppercase;
  padding-bottom: remc(34);
}

.video-step__button {
  width: col(10);
  @include flex('all');
  flex-direction: column-reverse;
}

.end-paragraph--video-step {
  font-size: remc(14);
  line-height: remc(17);
  margin-bottom: remc(32);

  &:before {
    font-size: remc(34);
    top: remc(8);
  }
}

@include tablet {
  .video-step__bg-img {
    display: none;
  }

  .video-step__img {
    height: remc(166);
  }

  .video-step__heading-container {
    @include flex('between-center');
    height: remc(166);
    margin-bottom: remc(52);
  }

  .video-step__img,
  .only-heading-container {
    display: block;
  }

  .only-heading-container {
    width: col(6);
  }

  .section-heading--video-step {
    width: col(10);

    &:before {
      content: "[ ";
    }
  }

  .section-paragraph--video-step {
    width: col(7);
  }

  .video-step__list {
    display: flex;
    justify-content: space-between;
    width: col(12);
    padding-bottom: 0;
  }

  .video-step__description {
    font-size: remc(9);
    width: col(2.5);
  }

  .video-step__button {
    width: col(12);
    flex-direction: row;
    justify-content: flex-start;
  }

  .end-paragraph--video-step {
    width: col(4);
    margin-bottom: 0;
    font-size: remc(9);
    line-height: remc(13);

    &:before {
      font-size: remc(24);
      top: remc(7);
    }
  }
}

@include desktop {
  .video-step__heading-container {
    height: remc(186);
    margin-bottom: remc(60);
  }

  .video-step__img {
    width: col(5);
    height: 100%;
  }

  .section-heading--video-step {
    font-size: remc(30);
    line-height: remc(38);
  }

  .section-paragraph--video-step {
    font-size: remc(10);
    line-height: remc(15)
  }

  .video-step__description {
    font-size: remc(10);
    line-height: remc(19)
  }

  .end-paragraph--video-step {
    font-size: remc(10);
    line-height: remc(15);

    &:before {
      font-size: remc(30);
      top: remc(8);
    }
  }
}