.wrapper {
  @include phone;
  @include tablet;
}

.taur_wrapper {
  width: remc(295);
  margin: 0 auto;
  
  @include tablet {
    width: remc(640);
  }

  @include desktop {
    width: remc(715);
  }

}
